.rd-app{ data: { rapid_diffs: true, reload_stream_url: @reload_stream_url, metadata_endpoint: @metadata_endpoint } }
  .rd-app-header
    .rd-app-settings
      %div{ data: { view_settings: true, show_whitespace: @show_whitespace.to_json, diff_view_type: @diff_view, update_user_endpoint: @update_user_endpoint } }
  .rd-app-body
    .rd-app-sidebar{ data: { file_browser: true }, style: ("width: #{initial_sidebar_width}px" if initial_sidebar_width) }
      .rd-app-sidebar-loading
        = helpers.gl_loading_icon(size: 'sm')
    .rd-app-content{ data: { sidebar_visible: true } }
      .code{ class: helpers.user_color_scheme }
        %div{ data: { diffs_list: true } }
          = javascript_tag nonce: content_security_policy_nonce do
            :plain
              requestAnimationFrame(() => { window.performance.mark('rapid-diffs-first-diff-file-shown') })
          - if diffs_list?
            = diffs_list
          - else
            = render RapidDiffs::DiffFileComponent.with_collection(@diffs_slice, parallel_view: @diff_view == :parallel)
          - if @stream_url
            #js-stream-container{ data: { diffs_stream_url: @stream_url } }
          - else
            = javascript_tag nonce: content_security_policy_nonce do
              :plain
                requestAnimationFrame(() => {
                  window.performance.mark('rapid-diffs-list-loaded');
                  window.performance.measure('rapid-diffs-list-loading', 'rapid-diffs-first-diff-file-shown', 'rapid-diffs-list-loaded');
                })
